.container-fluid {
    height: 100%;
}

.left-pane {
    padding: 20px 30px 20px 30px;
}

.main-row {
    height: 100%;
}

.map-col {
    height: 100%;
}

#map {
    min-height: 500px;
    height: 100%;
}