<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Where it at?  Guess the location!</title>
  <!-- Initialize the google API javascript client. -->
  <script>
    function init() {
      gapi.client.load('guess_the_location', 'v1', null, '//' + window.location.host + '/_ah/api');
      // gapi.client.load('oauth2', 'v2', function () {
      //     angular.bootstrap(document, ['conferenceApp']);
      // })
    };
  </script>
  <script src="//apis.google.com/js/client:plusone.js?onload=init"></script>
</head>
<body>
  <div class="container-fluid">
    <div class="row main-row">
      <div class="col-md-4 left-pane">
        <div class="row">
          <a href="https://github.com/cardvark/guess-the-location">
            <h3>Guess the City!</h3>
          </a>
        </div>
        <div class="row info-space">
          <div id="loading" data-bind="visible: isLoading">Loading...</div>
          <h4 data-bind="visible: monumentImage">Monument Information</h4>
          <div data-bind="html: monumentImage"></div>
          <br>
          <div data-bind="html: monumentName"></div>
          <div data-bind="html: genericFeedback"></div>
        </div>
        <br>
        <div class="row">
          <h5>Create User</h5>
          <form class="form-group col-xs-8" data-bind="submit: createUser">
            <input class="form-control input-sm" placeholder="User name" data-bind="value: createUsernameInput">
            <input class="form-control input-sm" placeholder="Email (optional)" data-bind="value: createEmailInput">
            <button class="btn btn-sm btn-default" type="submit">Submit</button>
          </form>
          <br>
        </div>
        <div class="row">
          <h5>Create New Game</h5>
          <form class="form-group col-xs-8" data-bind="submit: createNewGame">
            <input class="form-control input-sm" placeholder="User name" data-bind="value: newGameUsernameInput">
            <input class="form-control input-sm" placeholder="Regions (comma separated)" data-bind="value: newGameRegionsInput">
            <input class="form-control input-sm" placeholder="Total cities (5 max)" data-bind="value: newGameTotalCitiesInput">
            <button class="btn btn-sm btn-default" type="submit">Submit</button>
          </form>
          <br>
          <!-- <div data-bind="html: feedback observable"></div> -->
        </div>
        <div class="row">
          <h5>Get Question</h5>
          <form class="form-group col-xs-8" data-bind="submit: getQuestion">
            <input class="form-control input-sm" placeholder="Game key" data-bind="value: getQuestionGameKeyInput">
            <button class="btn btn-sm btn-default" type="submit">Submit</button>
          </form>
          <br>
          <!-- <div data-bind="html: feedback observable"></div> -->
        </div>
        <div class="row">
          <h5>Submit Guess</h5>
          <form class="form-group col-xs-8" data-bind="submit: sendGuess">
            <input class="form-control input-sm" placeholder="Question key" data-bind="value: sendGuessQuestionKeyInput">
            <input class="form-control input-sm" placeholder="Guess city" data-bind="value: sendGuessCityInput">
            <button class="btn btn-sm btn-default" type="submit">Submit</button>
          </form>
          <br>
          <!-- <div data-bind="html: feedback observable"></div> -->
        </div>
        <div class="row">
          <h5>Get Active Games</h5>
          <form class="form-group col-xs-8" data-bind="submit: getGames">
            <input class="form-control input-sm" placeholder="User name" data-bind="value: getGamesUsernameInput">
            <button class="btn btn-sm btn-default" type="submit">Submit</button>
          </form>
        </div>
        <div class="row">
          <h5>Other requests</h5>
          <form data-bind="submit: getHighScores">
            <button class="btn btn-sm btn-default" type="submit">Top 10 Games</button>
          </form>
          <form data-bind="submit: getUserRanks">
            <button class="btn btn-sm btn-default" type="submit">Top 10 Users</button>
          </form>
        </div>
      </div>
      <div class="col-md-8 map-col">
        <div id="map" class="map-div"></div>
      </div>
    </div>
  </div>
  <script src="https://ajax.aspnetcdn.com/ajax/knockout/knockout-3.3.0.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="/js/moment.min.js"></script>
  <script src="/js/app.js"></script>
  <script async defer type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvfR4_LGq3GU64PVTlWevBn87X_DvGbLk&callback=initMap" onerror="console.log('wtf')">
  </script>

</body>
</html>